.footer {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}
.dir-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.dir-container button {
    width: auto;
    text-align: start;
    text-decoration: underline;
}
.customer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.customer-container button {
    width: auto;
    text-align: start;
    text-decoration: underline;
}
.contact-container {
	margin-top: 30px;
}
.contact-container h2 {
	margin-top: 10px;
}
.contact-container a {
    text-decoration: none;
    color: black;
}
.contact-container a span {
    text-decoration: underline;
}
.createdby-container {
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
}
.createdby-container a {
    color: black;
}
.createdby-container h2{
    margin-bottom: 10px;
}
.createdby-container img {
   cursor: pointer;
}
.createdby-container .icons-container {
    display: flex;
    gap: 5px;
}
.socialmedia-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.copyright-container {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.copyright-container h2 {
    font-size: 12px;
}

@media (min-width: 1000px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contact-container {
        margin-top: 0px;
    }
}