.carousel-outter-container {
	display: flex;
	justify-content: center;
}
.carousel-img {
	width: 100%;
	height: 100%;
	min-height: 350px;
	max-height: 800px;
	overflow-y: hidden;
	object-fit: cover;
}
.carousel-img img {
	width: 100%;
	height: 100%;
	min-height: 350px;
	overflow-y: hidden;
	object-fit: cover;
}
.slider-container {
	border-color: #d9d9d9;
	border-width: 2px;
	border-style: solid;
	width: auto;
	min-height: 400px;
	max-width: 1000px;
	height: auto;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: -2px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.carousel-btn-container {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.carousel-btn-container button {
	height: 50px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}