.auth-container {
	margin: auto;
	max-width: 800px;
}
.failure-message {
	margin-top: 15px;
	font-size: 12px;
	color: red;
}
.success-message {
	font-size: 12px;
	color: green;
}
.welcome-message {
	margin-top: 15px;
	margin-bottom: 30px;
}
.account-container {
	margin: auto;
	padding-top: 15px;
	max-width: 800px;
	min-height: 40vh;
}
.logout-btn-container {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.logout-btn {
	border-color: white;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}
.logout-btn:hover {
	border-color: black;
	border-style: solid;
}
.orders-container {
	margin-top: 15px;
}
.orders-container h1 {
	font-size: medium;
}
.order-item {
	margin-top: 10px;
}
.order-item-name {
	margin-bottom: 5px;
}
@media (max-width: 800px) {
	.auth-container {
		margin: 15px;
	}
	.account-container {
		padding-top: 0px;
		margin: 15px;
	}
}
